/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body { margin:0; padding:0; font-family: 'Source Sans Pro', sans-serif; }
a { color: #386CA0; }

#listing-template {
  background: url('/img/bg-wood.jpg');
}

#locations {
  display: none;
}

#header-img {
  display: block;
  width: 100%;
  height: auto;
}

header {
  font-family: 'Pathway Gothic One', sans-serif; 
  position: absolute;
  padding: 0 2.5%;
  top: 0;
  left: 0;
  bottom: 0;
  width: 95%;
  background: #000;
  background: rgba(0,0,0,0.7);
  color: #eee;
  text-align: center;
  z-index: 1000;
  font-size: 1.65em;
  margin: auto;
  height: 39px;
  overflow: hidden;
}
#listing-template header {
  position: static;
  background: #29252C;
}
header span { color: #c99; text-transform: lowercase; }
header span span { color: #eef; display: none; }
header a {
  color: #e6e6ee;
  text-decoration: none;
  outline: none !important;
}
header a:hover, header a:active {
  color: #fff;
}
header span a {
  color: #c99;
  text-decoration: none;
  outline: none !important;
}
header span a:hover, header a:active {
  color: #e88;
}

#map-template h1 {
  display: none;
}

#map { position:absolute; top:0; bottom:0; width:100%; }
#listing-template #map {
  position: static;
  height: 240px;
  margin-top: 2em;
  box-shadow: 0 0 4px #a66;
}

#pane-container {
  display: none;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 999;
  background: url('/img/bg-wood.jpg');
  overflow: hidden;
}
#pane-container.open {
  display: block;
}
#pane-container.bottom {
  top: auto;
  bottom: 0;
}
#pane {
  padding: 0;
  position: relative;
}
#pane-main {
  
}
#swiper-prev, #swiper-next {
  width: 6%;
  opacity: 0.5;
  height: 100%;
  background: url('/img/arrow-left.png') no-repeat center center;
  background: url('/img/arrow-left.png') no-repeat center center;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
  text-align: center;
  outline: none !important;
}
#swiper-next {
  left: auto;
  right: 0;
  background: url('/img/arrow-right.png') no-repeat center center;
  background: url('/img/arrow-right.png') no-repeat center center;
}
#pane-main h2 strong {
  text-transform: capitalize;
}
#pane-main ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#pane-main ul li {
  margin: 0;
  display: inline-block;
  width: 320px;
  height: 300px;
  vertical-align: top;
  position: relative;
}
#pane-main ul li a {
  color: #E6E6EE;
  display: block;
  text-decoration: none;
}
#pane-main ul li a:hover, #pane-main ul li a:active {
  color: #fff;
}
#pane-main ul li img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
#pane-main ul li div {
  position: absolute;
  top: 0; left: 0;
  width: 84%; height: 500px;
  padding: 0 7%;
}
#pane-main ul li h2, #pane-main ul li p {
  color: #E6E6EE;
}
#pane-main ul li h2 {
  margin: 0.5em 0 0;
}
#pane-main ul li p {
  margin: 0.5em 0;
  font-size: 0.9em;
}

#listing-content {
  padding: 1px 5%;
  max-width: 1152px;
}
#listing-content h1 {
  color: #5e5c4f;
  margin: 1em 0 0;
}
#listing-content p {
  font-size: 1.3em;
}
#listing-main {
  
}
#listing-sidebar {
  font-size: 0.9em;
  color: #4a4f37;
}
#address {
  margin: 0.25em 0.75%;
  font-weight: bold;
}
#address p {
  margin: 0;
}
#address p:last-child {
  font-weight: normal;
}
#address a {
  font-weight: normal;
}








/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 320px) {

}

@media only screen and (min-width: 768px) {
  header span span { display: inline; }
  #listing-main {
    width: 65%;
    float: left;
  }
  #listing-sidebar {
    width: 30%;
    float: right;
  }
  #swiper-prev, #swiper-next {
    opacity: 1;
    background-color: #fff;
    background-color: rgba(0,0,0,0.7);
    width: 3%;
  }
  #swiper-prev:hover, #swiper-next:hover {
    background-color: rgba(30,52,75,0.8);
  }
  #listing-template #map {
    height: 360px;
    margin-top: 3em;
  }
  #address {
    margin: 1em 0.75%;
  }
  #pane-container {
    background: #aaa;
  }
  #pane-main {
    width: 94%;
  }
  #pane-main ul li div {
    width: 90%;
    padding: 2em 5% 0;
  }
  #pane-main ul li div:hover {
    background: rgba(214, 213, 97, 0.25);
  }
}

@media only screen and (min-width: 1000px) {
  body { min-width: 960px; }
}

@media only screen and (min-width: 1140px) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}